---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name convertx
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: mirror.gcr.io/c4illin/convertx
              tag: v0.15.1
            env:
              ACCOUNT_REGISTRATION: false
              HTTP_ALLOWED: true
              ALLOW_UNAUTHENTICATED: true
              AUTO_DELETE_EVERY_N_HOURS: 24
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames: ["convert.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: "https://raw.githubusercontent.com/C4illin/ConvertX/refs/heads/main/images/logo.png"
          gethomepage.dev/name: ConvertX
          gethomepage.dev/group: Service
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /app/data
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
