---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name cronjob-k8s-schemas
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        type: cronjob
        cronjob:
          schedule: "10 1 * * *"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 1
        annotations:
          reloader.stakater.com/auto: "true"
          config.home.ops/proxy: "https" # https_proxy needed
        pod:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
        initContainers:
          generate-schemas:
            image:
              repository: ghcr.io/bjw-s-labs/k8s-crd-extractor
              tag: 2025.12.22@sha256:176cc556053abba6fda83eeb398531cd33c3092553cab8a49a736f68972c057b
            resources:
              requests: &requests
                cpu: 10m
              limits:
                memory: 2Gi
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
              seccompProfile.type: RuntimeDefault
        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/wrangler
              tag: 4.64.0@sha256:e420e6cc0052d8d02003b4ca4e9c97f1d122a4224c3e7315353c7f50806c9e3f
            envFrom:
              - secretRef:
                  name: *name
            args:
              - pages
              - deploy
              - /data/crdSchemas
              - --project-name
              - kubernetes-schemas
            resources:
              requests: *requests
              limits:
                memory: 1Gi
            securityContext: *securityContext

    serviceAccount:
      *name : {}
    rbac:
      roles:
        *name :
          type: ClusterRole
          rules:
            - apiGroups: ["apiextensions.k8s.io"]
              resources:
                [
                  "customresourcedefinitions",
                  "customresourcedefinitions/status",
                ]
              verbs: ["get", "list", "watch"]
            - apiGroups: ["apiregistration.k8s.io"]
              resources: ["apiservices", "apiservices/status"]
              verbs: ["get", "list", "watch"]
      bindings:
        *name :
          type: ClusterRoleBinding
          roleRef:
            kind: ClusterRole
            identifier: *name
          subjects:
            - identifier: *name

    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          *name :
            generate-schemas:
              - path: /config/.datree
                subPath: data
              - path: /tmp
                subPath: tmp
            app:
              - path: /config
                subPath: config
              - path: /data
                subPath: data
