---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: &clusterName main
endpoint: "https://k8s.homelab.internal:6443"

# enabled features:
# secureboot,nut,vip; bond,disk-encryption;
# disabled features:
# cni,coredns,forwardKubeDNSToHost,kube-proxy,l2vip;
# k8s features 1.33:
# userNamespace:default;
# talhelper breaking changes:
# JSON6902 patches is deprecated for 'patches';

# renovate: depName=ghcr.io/siderolabs/installer datasource=docker
talosVersion: v1.11.5
# renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
kubernetesVersion: v1.34.2
# schematic: e0fc0b8c37e4f74529137181ec7efc8bd1bfb4318a2b6bc1b18f43a55b23f342

additionalApiServerCertSans:
  - k8s.homelab.internal
  - 127.0.0.1

cniConfig:
  name: none

nodes:
  - hostname: exarch-01
    ipAddress: 10.10.0.101
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector: &installDisk
      model: SQF-C3AV1-256GDEDM
    networkInterfaces:
      - interface: lo # fix forwardKubeDNSToHost, check below
        addresses: &loAddress
          - 169.254.116.108/32
      - interface: bond0
        bond: &bond
          interfaces:
            - enp2s0f0np0
            - enp2s0f1np1
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
        mtu: 9000
        dhcp: false
        addresses:
          - 10.10.0.101/24
        routes: &gateway
          - network: 0.0.0.0/0
            gateway: 10.10.0.1

  - hostname: exarch-02
    ipAddress: 10.10.0.102
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector: *installDisk
    networkInterfaces:
      - interface: lo
        addresses: *loAddress
      - interface: bond0
        bond: *bond
        dhcp: false
        mtu: 9000
        addresses:
          - 10.10.0.102/24
        routes: *gateway

  - hostname: exarch-03
    ipAddress: 10.10.0.103
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector: *installDisk
    networkInterfaces:
      - interface: lo
        addresses: *loAddress
      - interface: bond0
        bond: *bond
        dhcp: false
        mtu: 9000
        addresses:
          - 10.10.0.103/24
        routes: *gateway

controlPlane:
  machineSpec:
    mode: metal
    arch: amd64
    secureboot: true
    useUKI: true
  nodeLabels:
    topology.kubernetes.io/region: *clusterName
    topology.kubernetes.io/zone: homelab
  schematic:
    customization:
      extraKernelArgs:
        - -lockdown # secureboot
        - lockdown=integrity # secureboot
        - talos.network.interface.ignore=enp88s0 # block i226-lm in ms-01
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/nut-client
          - siderolabs/thunderbolt
  extensionServices:
    - name: nut-client
      configFiles:
        - content: |-
            MONITOR ups@10.10.0.10 1 upsmon upsmon secondary
            SHUTDOWNCMD "/sbin/poweroff"
          mountPath: /usr/local/etc/nut/upsmon.conf
  volumes:
    - name: EPHEMERAL
      encryption:
        keys:
          - slot: 0
            static:
              passphrase: ${DISK_ENCRYPTION_PASS}
    - name: STATE
      encryption:
        keys:
          - slot: 0
            tpm: {}

  # : controlPlane only patches
  patches:
    # :: ApiServer configuration, disable admission plugins
    - |-
      cluster:
        apiServer:
          admissionControl:
            $$patch: delete

    # :: ETCD configuration, increase etcd quota to 8G, keep advertisedSubnets if using tailscale / kubespan
    - |-
      cluster:
        etcd:
          extraArgs:
            quota-backend-bytes: 8589934592
          advertisedSubnets:
            - 10.10.0.0/24

# general patches
patches:
  # : Cluster configuration
  - |-
    cluster:
      allowSchedulingOnControlPlanes: true
      coreDNS:
        disabled: true
      proxy:
        disabled: true
      discovery:
        enabled: true
        registries:
          kubernetes:
            disabled: true
          service:
            endpoint: http://10.10.0.10:9300
      network:
        podSubnets:
          - 10.100.0.0/17
        serviceSubnets:
          - 10.100.128.0/17
      scheduler:
        config:
          apiVersion: kubescheduler.config.k8s.io/v1
          kind: KubeSchedulerConfiguration
          profiles:
            - schedulerName: default-scheduler
              plugins:
                  score:
                    disabled:
                      - name: ImageLocality
              pluginConfig:
                - name: PodTopologySpread
                  args:
                    defaultingType: List
                    defaultConstraints:
                      - maxSkew: 1
                        topologyKey: kubernetes.io/hostname
                        whenUnsatisfiable: ScheduleAnyway

  # : NTP configuration, ip for baremetal, '/dev/ptp0' for proxmox
  - |-
    machine:
      time:
        disabled: false
        servers:
          - 10.10.0.10

  # : Network configuration
  - |-
    machine:
      network:
        disableSearchDomain: true
        nameservers:
          - 10.10.0.10

  # : Kubelet configuration
  - |-
    machine:
      kubelet:
        nodeIP:
          validSubnets:
            - 10.10.0.0/24
        extraMounts:
          - destination: /var/local/openebs
            type: bind
            source: /var/local/openebs
            options:
              - rbind
              - rshared
              - rw

  # : Cluster Proxy, has negative impact on https-post/quic, use with caution
  - |-
    machine:
      env:
        http_proxy: http://10.10.0.10:1080
        https_proxy: http://10.10.0.10:1080
        no_proxy: .noirprime.com,.homelab.internal,localhost,127.0.0.1,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16

  # : Kernel modules, Enable thunderbolt/USB4 networking support
  - |-
    machine:
      kernel:
        modules:
          - name: thunderbolt
          - name: thunderbolt_net

  # : Enable features
  # :: https://github.com/siderolabs/talos/issues/10002#issuecomment-2557069620;
  # :: hostLegacyRouting=true conflict with BIGTCP and BBR
  # :: workaround: https://github.com/cilium/cilium/issues/36761#issuecomment-3493689525;
  - |-
    machine:
      features:
        nodeAddressSortAlgorithm: v2
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: true
          resolveMemberNames: true
        kubernetesTalosAPIAccess:
          enabled: true
          allowedRoles:
            - os:admin
            - os:etcd:backup
          allowedKubernetesNamespaces:
            - gitops-system

  # : Containerd configuration, for spegel, i915, unprivileged containers
  - |-
    machine:
      files:
        - op: create
          path: /etc/cri/conf.d/20-customization.part
          content: |
            [plugins]
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
              [plugins."io.containerd.cri.v1.runtime"]
                device_ownership_from_security_context = true
              [plugins."io.containerd.grpc.v1.cri"]
                enable_unprivileged_ports = true
                enable_unprivileged_icmp = true

  # : Sysctls configuration
  - |-
    machine:
      sysctls:
        fs.inotify.max_user_watches: 524288       # moviepilot
        fs.inotify.max_user_instances: 524288     # moviepilot
        net.ipv4.neigh.default.gc_thresh1: 32768  # ARP cache, tunning
        net.ipv4.neigh.default.gc_thresh2: 65536  # ARP cache, tunning
        net.ipv4.neigh.default.gc_thresh3: 131072 # ARP cache, tunning
        net.core.rmem_max: 134217728              # 10G NIC, tunning
        net.core.wmem_max: 134217728              # 10G NIC, tunning
        net.ipv4.tcp_rmem: 4096 87380 67108864    # 10G NIC, tunning
        net.ipv4.tcp_wmem: 4096 65536 67108864    # 10G NIC, tunning
        sunrpc.tcp_slot_table_entries: 128        # 10G NIC, tunning
        sunrpc.tcp_max_slot_table_entries: 1024   # 10G NIC, tunning
        user.max_user_namespaces: 11255           # UserNamespaces
