---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: &clusterName main
endpoint: "https://k8s.homelab.internal:6443" # point to CP node-ip

# disabled features:
# cni,coredns,kube-proxy,l2vip,secureboot,system-disk-encryption;
# k8s features 1.33:
# userNamespace:default;
# talhelper breaking changes:
# JSON6902 patches is deprecated for 'patches';

# renovate: depName=ghcr.io/siderolabs/installer datasource=docker
talosVersion: v1.12.0
# renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
kubernetesVersion: v1.35.0
# schematic: e0fc0b8c37e4f74529137181ec7efc8bd1bfb4318a2b6bc1b18f43a55b23f342

additionalApiServerCertSans:
  - k8s.homelab.internal
  - 127.0.0.1

cniConfig:
  name: none

nodes:
  - hostname: exarch-01
    ipAddress: 10.10.0.101
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector: &installDisk
      model: SQF-C3AV1-256GDEDM
    patches:
      - "@./patches/nodes/exarch-01/00-hostname.yaml"
      - "@./patches/nodes/exarch-01/12-bond0-lacp.yaml"

  - hostname: exarch-02
    ipAddress: 10.10.0.102
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector: *installDisk
    patches:
      - "@./patches/nodes/exarch-02/00-hostname.yaml"
      - "@./patches/nodes/exarch-02/12-bond0-lacp.yaml"

  - hostname: exarch-03
    ipAddress: 10.10.0.103
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDiskSelector: *installDisk
    patches:
      - "@./patches/nodes/exarch-03/00-hostname.yaml"
      - "@./patches/nodes/exarch-03/12-bond0-lacp.yaml"

controlPlane:
  machineSpec:
    mode: metal
    arch: amd64
  nodeLabels:
    topology.kubernetes.io/region: *clusterName
    topology.kubernetes.io/zone: homelab
  schematic:
    customization:
      extraKernelArgs:
        - -lockdown # secureboot
        - lockdown=integrity # secureboot
        - talos.network.interface.ignore=enp88s0 # block i226-lm in ms-01
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/nut-client

  # : controlPlane only patches
  patches:
    # :: ApiServer configuration, disable admission plugins
    - |-
      cluster:
        apiServer:
          admissionControl:
            $$patch: delete

    # :: ETCD configuration, increase etcd quota to 8G, keep advertisedSubnets if using tailscale / kubespan
    - |-
      cluster:
        etcd:
          extraArgs:
            quota-backend-bytes: 8589934592
          advertisedSubnets:
            - 10.10.0.0/24

# general patches
patches:
  # : Multi-doc configuration
  - "@./patches/global/05-time-sync.yaml"
  - "@./patches/global/10-net-lo.yaml"
  - "@./patches/global/20-dns-resolver.yaml"
  - "@./patches/global/80-extension-nut.yaml"

  # : Cluster configuration
  - |-
    cluster:
      allowSchedulingOnControlPlanes: true
      coreDNS:
        disabled: true
      proxy:
        disabled: true
      discovery:
        enabled: true
        registries:
          kubernetes:
            disabled: true
          service:
            endpoint: http://10.10.0.10:9300
      network:
        podSubnets:
          - 10.100.0.0/17
        serviceSubnets:
          - 10.100.128.0/17
      scheduler:
        config:
          apiVersion: kubescheduler.config.k8s.io/v1
          kind: KubeSchedulerConfiguration
          profiles:
            - schedulerName: default-scheduler
              plugins:
                  score:
                    disabled:
                      - name: ImageLocality
              pluginConfig:
                - name: PodTopologySpread
                  args:
                    defaultingType: List
                    defaultConstraints:
                      - maxSkew: 1
                        topologyKey: kubernetes.io/hostname
                        whenUnsatisfiable: ScheduleAnyway

  # : Kubelet configuration
  - |-
    machine:
      kubelet:
        nodeIP:
          validSubnets:
            - 10.10.0.0/24

  # : Enable features
  # :: https://github.com/siderolabs/talos/issues/10002#issuecomment-2557069620;
  # :: hostLegacyRouting=true conflict with BIGTCP and BBR
  # :: workaround: https://github.com/cilium/cilium/issues/36761#issuecomment-3493689525;
  - |-
    machine:
      features:
        nodeAddressSortAlgorithm: v2
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: true
          resolveMemberNames: true
        kubernetesTalosAPIAccess:
          enabled: true
          allowedRoles:
            - os:admin
            - os:etcd:backup
          allowedKubernetesNamespaces:
            - gitops-system

  # : Containerd configuration, for spegel, i915, unprivileged containers
  - |-
    machine:
      files:
        - op: create
          path: /etc/cri/conf.d/20-customization.part
          content: |
            [plugins]
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
              [plugins."io.containerd.cri.v1.runtime"]
                device_ownership_from_security_context = true
              [plugins."io.containerd.grpc.v1.cri"]
                enable_unprivileged_ports = true
                enable_unprivileged_icmp = true

  # : Sysctls configuration
  - |-
    machine:
      sysctls:
        fs.inotify.max_user_watches: 1048576      # moviepilot
        fs.inotify.max_user_instances: 1048576    # moviepilot
        net.ipv4.neigh.default.gc_thresh1: 32768  # ARP cache, tunning
        net.ipv4.neigh.default.gc_thresh2: 65536  # ARP cache, tunning
        net.ipv4.neigh.default.gc_thresh3: 131072 # ARP cache, tunning
        net.core.netdev_max_backlog: 30000        # 10G NIC, tunning
        net.core.somaxconn: 32768                 # 10G NIC, tunning
        net.ipv4.tcp_max_syn_backlog: 8192        # 10G NIC, tunning
        net.core.rmem_max: 134217728              # 10G NIC, tunning
        net.core.wmem_max: 134217728              # 10G NIC, tunning
        net.ipv4.tcp_rmem: 4096 87380 134217728   # 10G NIC, tunning
        net.ipv4.tcp_wmem: 4096 65536 134217728   # 10G NIC, tunning
        sunrpc.tcp_slot_table_entries: 128        # 10G NIC, tunning
        sunrpc.tcp_max_slot_table_entries: 1024   # 10G NIC, tunning
        user.max_user_namespaces: 11255           # UserNamespaces
        vm.dirty_background_ratio: 5              # 96GB RAM tunning
        vm.dirty_ratio: 10                        # 96GB RAM tunning
