---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name home-assistant-sgcc
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: mirror.gcr.io/arcw/sgcc_electricity
              tag: v1.6.9
            command:
              - python3
              - main.py
            env:
              ENABLE_DATABASE_STORAGE: true
              HASS_URL: https://hass.noirprime.com
              HASS_TOKEN:
                secretKeyRef:
                  name: home-assistant
                  key: supervisor_token
              PHONE_NUMBER:
                valueFrom:
                  secretKeyRef:
                    name: home-assistant
                    key: sgcc_username
              PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: home-assistant
                    key: sgcc_password
            resources:
              requests:
                cpu: 40m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /data
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
