---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/storage.k8s.io/storageclass_v1.json
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: openebs-rep3
  annotations:
    storageclass.storage.kubernetes.io/is-default-class: "true"
parameters:
  protocol: "nvmf"
  repl: "3"
  fsType: "xfs"
  thin: "true"
  allowVolumeExpansion: "true"
  stsAffinityGroup: "true"
provisioner: io.openebs.csi-mayastor
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Delete
---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/storage.k8s.io/storageclass_v1.json
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: openebs-rep1
  annotations:
    storageclass.storage.kubernetes.io/is-default-class: "false"
parameters:
  protocol: "nvmf"
  repl: "1"
  fsType: "xfs"
  thin: "true"
  allowVolumeExpansion: "true"
  stsAffinityGroup: "true"
provisioner: io.openebs.csi-mayastor
volumeBindingMode: WaitForFirstConsumer
