---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  interval: 10m
  chart:
    spec:
      chart: openebs
      version: 4.1.2
      sourceRef:
        kind: HelmRepository
        name: openebs
        namespace: gitops-system

  values:
    localpv-provisioner:
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
        basePath: /var/local/openebs

    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: false

    mayastor:
      csi:
        node:
          initContainers:
            enabled: false
