---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name openlist
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65534 # qnap:guest
        containers:
          app:
            image:
              repository: mirror.gcr.io/openlistteam/openlist
              tag: v4.1.5-aio
            env:
              RUN_ARIA2: true
            envFrom:
              - secretRef:
                  name: *name
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 5244
    route:
      app:
        hostnames: ["openlist.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: openlist.svg
          gethomepage.dev/name: Openlist
          gethomepage.dev/group: Media
        parentRefs:
          - name: internal
            namespace: kube-system

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /opt/openlist/data
      shared:
        existingClaim: storage
        globalMounts:
          - path: /data
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /opt/openlist/data/temp
            subPath: cache
