---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name grafana
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: grafana

  values:
    # ref:https://github.com/mchestr/home-cluster/blob/main/kubernetes/apps/observability/grafana/app/helmrelease.yaml

    # defaults
    annotations:
      reloader.stakater.com/auto: "true"
    imageRenderer:
      enabled: true
    persistence:
      enabled: false
    plugins:
      - grafana-clock-panel
      - grafana-piechart-panel
      - grafana-worldmap-panel
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - vonage-status-panel
      - victoriametrics-metrics-datasource
      - victoriametrics-logs-datasource
    resources:
      requests:
        cpu: 50m
      limits:
        memory: 512Mi
    rbac:
      pspEnabled: false
    serviceAccount:
      create: true
      autoMount: true
    serviceMonitor:
      enabled: true
    testFramework:
      enabled: false

    # environments
    admin:
      existingSecret: *name
    env:
      GF_ANALYTICS_CHECK_FOR_UPDATES: false
      GF_ANALYTICS_CHECK_FOR_PLUGIN_UPDATES: false
      GF_ANALYTICS_REPORTING_ENABLED: false
      GF_AUTH_ANONYMOUS_ENABLED: false
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      # GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH: /tmp/dashboards/home.json
      GF_EXPLORE_ENABLED: true
      GF_FEATURE_TOGGLES_ENABLE: publicDashboards
      GF_LOG_MODE: console
      GF_NEWS_NEWS_FEED_ENABLED: false
      GF_PANELS_DISABLE_SANITIZE_HTML: true
      GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: natel-discrete-panel,pr0ps-trackmap-panel,panodata-map-panel
      GF_SECURITY_COOKIE_SAMESITE: grafana
      GF_SERVER_ROOT_URL: https://grafana.noirprime.com
      GF_DATABASE_NAME: grafana
      GF_DATABASE_HOST: postgres-rw.database-system.svc.cluster.local:5432
      GF_DATABASE_SSL_MODE: disable
      GF_DATABASE_TYPE: postgres
      HTTP_PROXY: "${HTTP_PROXY}"
      HTTPS_PROXY: "${HTTPS_PROXY}"
      NO_PROXY: "${NO_PROXY}"
    envValueFrom:
      GF_DATABASE_USER:
        secretKeyRef:
          name: grafana-pguser
          key: username
      GF_DATABASE_PASSWORD:
        secretKeyRef:
          name: grafana-pguser
          key: password

    downloadDashboards:
      env:
        HTTP_PROXY: "${HTTP_PROXY}"
        HTTPS_PROXY: "${HTTPS_PROXY}"
        NO_PROXY: "${NO_PROXY}"

    # images
    image:
      registry: mirror.gcr.io
      repository: grafana/grafana
      tag: 12.3.0@sha256:70d9599b186ce287be0d2c5ba9a78acb2e86c1a68c9c41449454d0fc3eeb84e8
    extraInitContainers:
      - name: init-db
        image: ghcr.io/home-operations/postgres-init:17
        imagePullPolicy: IfNotPresent
        envFrom:
          - secretRef:
              name: grafana-initdb

    # sources
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - { name: Alertmanager, orgId: 1 }
          - { name: Prometheus, orgId: 1 }
          - { name: Loki, orgId: 1 }
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://vmsingle-victoria-metrics-cluster.monitoring-system.svc.cluster.local:8428
            isDefault: true
            jsonData:
              prometheusType: Prometheus
          - name: Alertmanager
            type: alertmanager
            access: proxy
            url: http://vmalertmanager-victoria-metrics-cluster.monitoring-system.svc.cluster.local:9093
            jsonData:
              implementation: prometheus
          - name: VictoriaLogs
            type: victoriametrics-logs-datasource
            access: proxy
            url: http://victoria-logs-server.monitoring-system.svc.cluster.local:9428

    # dashboards
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: Default
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: cilium
            orgId: 1
            folder: Cilium
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/cilium
          - name: ceph
            orgId: 1
            folder: Ceph
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/ceph
          - name: database
            orgId: 1
            folder: Database
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/database
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: victoria-metrics
            orgId: 1
            folder: VictoriaMetrics
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/victoria-metrics

    dashboards:
      default:
        blackbox-exporter:
          url: https://grafana.com/api/dashboards/7587/revisions/3/download
          datasource: Prometheus
        cert-manager:
          url: https://grafana.com/api/dashboards/20842/revisions/3/download
          datasource: Prometheus
        cloudflared:
          url: https://grafana.com/api/dashboards/17457/revisions/6/download
          datasource:
            - { name: DS_PROMETHEUS, value: Prometheus }
        external-dns:
          url: https://grafana.com/api/dashboards/23969/revisions/1/download
          datasource: Prometheus
        node-exporter-full:
          url: https://grafana.com/api/dashboards/1860/revisions/42/download
          datasource:
            - { name: DS_PROMETHEUS, value: Prometheus }
        smartctl-exporter:
          url: https://grafana.com/api/dashboards/22604/revisions/2/download
          datasource:
            - { name: DS_PROMETHEUS, value: Prometheus }
        volsync:
          url: https://grafana.com/api/dashboards/21356/revisions/3/download
          datasource:
            - { name: DS_PROMETHEUS, value: Prometheus }
            - { name: VAR_REPLICATIONDESTNAME, value: .*-bootstrap }

        openwrt:
          url: https://grafana.com/api/dashboards/18153/revisions/4/download
          datasource:
            - { name: DS_PROMETHEUS, value: Prometheus }

        unifi-sites:
          url: https://grafana.com/api/dashboards/11311/revisions/5/download
          datasource: Prometheus
        unifi-uap:
          url: https://grafana.com/api/dashboards/11314/revisions/10/download
          datasource:
            - { name: DS_PROMETHEUS, value: Prometheus }
        unifi-clients:
          url: https://grafana.com/api/dashboards/11315/revisions/9/download
          datasource: Prometheus

      cilium:
        cilium-agent:
          url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/cilium-agent/dashboards/cilium-dashboard.json
          datasource: Prometheus
        cilium-operator:
          url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/cilium-operator/dashboards/cilium-operator-dashboard.json
          datasource: Prometheus
        hubble-dashboard:
          url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/hubble/dashboards/hubble-dashboard.json
          datasource: Prometheus
        hubble-dns:
          url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/hubble/dashboards/hubble-dns-namespace.json
          datasource: Prometheus
        hubble-l7:
          url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/hubble/dashboards/hubble-l7-http-metrics-by-workload.json
          datasource: Prometheus
        hubble-network:
          url: https://raw.githubusercontent.com/cilium/cilium/refs/heads/main/install/kubernetes/cilium/files/hubble/dashboards/hubble-network-overview-namespace.json
          datasource: Prometheus

      ceph:
        ceph-cluster:
          url: https://grafana.com/api/dashboards/2842/revisions/18/download
          datasource: Prometheus
        ceph-osd:
          url: https://grafana.com/api/dashboards/5336/revisions/9/download
          datasource: Prometheus
        ceph-pools:
          url: https://grafana.com/api/dashboards/5342/revisions/9/download
          datasource: Prometheus

      database:
        cloudnative-pg:
          url: https://raw.githubusercontent.com/cloudnative-pg/grafana-dashboards/refs/heads/main/charts/cluster/grafana-dashboard.json
          datasource: Prometheus
        dragonflydb:
          url: https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/refs/heads/main/monitoring/grafana-dashboard.json
          datasource: Prometheus

      kubernetes:
        k8s-system-api-server:
          url: https://grafana.com/api/dashboards/15761/revisions/19/download
          datasource: Prometheus
        k8s-views-global:
          url: https://grafana.com/api/dashboards/15757/revisions/43/download
          datasource: Prometheus
        k8s-views-nodes:
          url: https://grafana.com/api/dashboards/15759/revisions/37/download
          datasource: Prometheus
        k8s-views-namespaces:
          url: https://grafana.com/api/dashboards/15758/revisions/42/download
          datasource: Prometheus
        k8s-views-pods:
          url: https://grafana.com/api/dashboards/15760/revisions/36/download
          datasource: Prometheus
        k8s-volumes:
          url: https://grafana.com/api/dashboards/11454/revisions/14/download
          datasource: Prometheus

      victoria-metrics:
        backupmanager:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/backupmanager.json
          datasource: Prometheus
        clusterbytenant:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/clusterbytenant.json
          datasource: Prometheus
        operator:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/operator.json
          datasource: Prometheus
        victorialogs:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victorialogs.json
          datasource: Prometheus
        victoriametrics-cluster:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victoriametrics-cluster.json
          datasource: Prometheus
        victoriametrics:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/victoriametrics.json
          datasource: Prometheus
        vmagent:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmagent.json
          datasource: Prometheus
        vmalert:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmalert.json
          datasource: Prometheus
        vmauth:
          url: https://raw.githubusercontent.com/VictoriaMetrics/VictoriaMetrics/refs/heads/master/dashboards/vmauth.json
          datasource: Prometheus
