---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name apprise-webhook
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  # ref:https://github.com/adnanh/webhook
  # ref:https://github.com/onedr0p/home-ops/tree/main/kubernetes/apps/default/webhook

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
          config.homelab.ops/proxy: "https" # https_proxy needed
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/webhook
              tag: 2.8.2
            env:
              WEBHOOK__PORT: &port 9000
            envFrom:
              - secretRef:
                  name: *name
            resources: &resources
              requests:
                cpu: 100m
              limits:
                memory: 256Mi
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
          webhook:
            image:
              repository: ghcr.io/camalot/apprise-webhook
              tag: 1.0.14
            env:
              APPRISE_URL: http://localhost:9000/hooks/alertmanager
            resources: *resources
            securityContext: *securityContext

    service:
      app:
        ports:
          http:
            port: *port
            primary: true
          webhook:
            port: 8001

    persistence:
      config:
        type: configMap
        name: *name
        defaultMode: 0775
        globalMounts:
          - readOnly: true
