---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name emby
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/emby
              tag: 4.9.1.90
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
            resources:
              requests:
                cpu: 100m
                gpu.intel.com/i915: 1
              limits:
                gpu.intel.com/i915: 1
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 8096
    route:
      app:
        hostnames: ["movie.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: emby.png
          gethomepage.dev/name: Emby
          gethomepage.dev/group: Media
          gethomepage.dev/widget.type: emby
          gethomepage.dev/widget.url: http://emby.media-apps.svc.cluster.local:8096
          gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_EMBY_API_KEY}}" }}'
          gethomepage.dev/widget.enableBlocks: "true"
          gethomepage.dev/widget.enableMediaControl: "false"
          gethomepage.dev/widget.showEpisodeNumber: "true"
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /config
      shared:
        existingClaim: nfs-shared-movie
        globalMounts:
          - path: /media
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
            subPath: logs
          - path: /tmp
            subPath: tmp
          - path: /transcode
            subPath: transcode
