---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name dify-database
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18"
            envFrom:
              - secretRef:
                  name: dify-database-initdb
        containers:
          app:
            image:
              repository: langgenius/dify-plugin-daemon
              tag: 0.5.3-local
            env:
              DB_HOST: "postgres-rw.database-system.svc.cluster.local"
              DB_PORT: "5432"
              DB_USERNAME: *name
              DB_PASSWORD: *name
              DB_DATABASE: *name
              REDIS_HOST: "dify-database-dragonfly.selfhosted-apps.svc.cluster.local"
              REDIS_PORT: "6379"
              SERVER_PORT: "5002"
              MAX_PLUGIN_PACKAGE_SIZE: "52428800"
              PPROF_ENABLED: "false"
              DIFY_INNER_API_URL: "http://dify-app.selfhosted-apps.svc.cluster.local:5001"
              PLUGIN_REMOTE_INSTALLING_HOST: "localhost"
              PLUGIN_REMOTE_INSTALLING_PORT: "5003"
              PLUGIN_WORKING_PATH: "/app/storage/cwd"
              PYTHON_ENV_INIT_TIMEOUT: "-120"
              PLUGIN_MAX_EXECUTION_TIMEOUT: "600"
              PLUGIN_STORAGE_TYPE: "local"
              PLUGIN_STORAGE_LOCAL_ROOT: "/app/storage"
              PLUGIN_INSTALLED_PATH: "plugin"
              PLUGIN_PACKAGE_CACHE_PATH: "plugin_packages"
              PLUGIN_MEDIA_CACHE_PATH: "assets"
              THIRD_PARTY_SIGNATURE_VERIFICATION_ENABLED: "true"
              THIRD_PARTY_SIGNATURE_VERIFICATION_PUBLIC_KEYS: "/app/keys/publickey.pem"
              FORCE_VERIFYING_SIGNATURE: "false"
            envFrom:
              - secretRef:
                  name: *name
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          daemon:
            port: 5002
            primary: true
          debug:
            port: 5003

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /app/storage
