---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name dify-proxy
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ubuntu/squid
              tag: 5.2-22.04_beta
            command: ["sh", "/docker-entrypoint.sh"]
            env:
              HTTP_PORT: "3128"
              COREDUMP_DIR: "/var/spool/squid"
              REVERSE_PROXY_PORT: "8194"
              SANDBOX_HOST: "dify-sandbox.selfhosted-apps.svc.cluster.local"
              SANDBOX_PORT: "8194"
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 256Mi
            # squid requires 'chown'

    service:
      app:
        ports:
          http:
            port: 3128

    persistence:
      config:
        type: configMap
        name: *name
        globalMounts:
          - path: /etc/squid/squid.conf.template
            subPath: squid.conf.template
          - path: /docker-entrypoint.sh
            subPath: docker-entrypoint.sh
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /etc/squid
            subPath: config
          - path: /var/spool/squid
            subPath: dump
          - path: /var/cache/squid
            subPath: cache
          - path: /var/log/squid
            subPath: logs
