---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name n8n
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod: # this is a must for n8n
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 1.123.1
            env:
              DB_SQLITE_VACUUM_ON_STARTUP: true
              EXECUTIONS_DATA_PRUNE: true
              EXECUTIONS_DATA_MAX_AGE: 7
              EXECUTIONS_DATA_PRUNE_MAX_COUNT: 50000
              GENERIC_TIMEZONE: "Asia/Shanghai"
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
              N8N_HOST: n8n.noirprime.com
              N8N_PROTOCOL: "https"
              N8N_PORT: &port 8080
              N8N_LOG_LEVEL: info
              N8N_LOG_OUTPUT: console
              N8N_ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: n8n
                    key: N8N_ENCRYPTION_KEY
              N8N_PROXY_HOPS: 1
              WEBHOOK_URL: https://n8n.noirprime.com/
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["n8n.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: n8n.png
          gethomepage.dev/name: N8N
          gethomepage.dev/group: Service
          gethomepage.dev/pod-selector: "app.kubernetes.io/name=n8n"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
      webhook:
        hostnames: ["n8n-webhook.noirprime.com"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - matches:
              - path:
                  value: /webhook
              - path:
                  value: /webhook-test
            backendRefs: [{}]

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /home/node/.n8n
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /home/node/.cache
