---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name volsync
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: volsync

  values:
    fullnameOverride: volsync-perfectra1n
    image: &image
      repository: ghcr.io/perfectra1n/volsync
      tag: v0.17.0
    kopia: *image
    rclone: *image
    restic: *image
    rsync: *image
    rsync-tls: *image
    syncthing: *image
    manageCRDs: true
    metrics:
      disableAuth: true
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 2000
      runAsGroup: 2000
