---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: &name postgres
spec:
  jobLabel: *name
  selector:
    matchLabels:
      cnpg.io/cluster: postgres
      cnpg.io/podRole: instance
  podMetricsEndpoints:
    - port: metrics
