---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  annotations:
    external-dns.alpha.kubernetes.io/hostname: "postgres.noirprime.com"
    lbipam.cilium.io/ips: "10.10.0.133"
spec:
  type: LoadBalancer
  selector:
    cnpg.io/cluster: postgres
    cnpg.io/instanceRole: primary
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
