---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./storageclass.yaml
  - ./pvc-documents.yaml
  - ./pvc-media.yaml
  - ./pvc-trpg.yaml
