---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: trpg
  namespace: media-apps
  # nfs-path: /var/lib/shared/trpg
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: nfs-shared
