---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: TRPG
  namespace: media-apps
  # nfs-path: /mnt/Mundorum/TRPG
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: nfs-shared
