---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name home-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
          config.homelab.ops/proxy: "https" # https_proxy needed
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.12.1
            env:
              HTTP_PROXY: "${HTTP_PROXY}"
              HTTPS_PROXY: "${HTTPS_PROXY}"
              NO_PROXY: "${NO_PROXY}"
            resources:
              requests:
                cpu: 40m
              limits:
                memory: 2Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.3
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /data/user-data
              - --extensions-dir
              - /data/extensions
              - --port
              - "1337"
              - /config
            env:
              HASS_SERVER: "https://hass.noirprime.com"
              HASS_TOKEN:
                secretKeyRef:
                  name: *name
                  key: supervisor_token
            resources:
              requests:
                cpu: 40m
              limits:
                memory: 512Mi

    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/wss
            port: 8123
        primary: true
      code-server:
        ports:
          http:
            port: 1337

    route:
      app:
        hostnames: ["hass.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: home-assistant.png
          gethomepage.dev/name: Home-Assistant
          gethomepage.dev/group: SmartHome
          gethomepage.dev/pod-selector: "app.kubernetes.io/name=home-assistant"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *name
                port: 8123
      code-server:
        hostnames: ["hass-code.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: code-server.png
          gethomepage.dev/name: Home-Assistant-Code
          gethomepage.dev/group: SmartHome
          gethomepage.dev/pod-selector: "app.kubernetes.io/name=home-assistant"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *name
                port: 1337

    persistence:
      app:
        existingClaim: *name
        advancedMounts:
          *name :
            app:
              - path: /config
                subPath: config
            code-server:
              - path: /config
                subPath: config
              - path: /data
                subPath: code-server
