export KUBECONFIG=$PWD/infrastructure/talos/clusterconfig/kubeconfig
export TALOSCONFIG=$PWD/infrastructure/talos/clusterconfig/talosconfig
export KUBECONFIG_DIR=$HOME/.kube
export FLUX_SYSTEM_NAMESPACE=gitops-system
export ROOK_OPERATOR_NAMESPACE=storage-system
export ROOK_CLUSTER_NAMESPACE=storage-system
