---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: security-system
components:
  - ../../components/namespace
resources:
  # - ./authelia/ks.yaml
  - ./cert-manager/ks.yaml
  - ./external-secrets/ks.yaml
  # - ./lldap/ks.yaml
  - ./onepassword-connect/ks.yaml
