---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name qbittorrent
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 101 # synology:admin
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4
            env:
              QBT_WEBUI_PORT: &port 8080
              QBT_TORRENTING_PORT: &torrentPort 50413
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 200m
              limits:
                memory: 6Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        primary: true
        ports:
          http:
            port: *port
      bittorrent:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.10.0.141"
        ports:
          bittorrent-tcp:
            port: *torrentPort
    route:
      app:
        hostnames: ["bt.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: qbittorrent.svg
          gethomepage.dev/name: qBittorrent
          gethomepage.dev/group: Download
          gethomepage.dev/widget.type: qbittorrent
          gethomepage.dev/widget.url: http://qbittorrent.media-apps.svc.cluster.local:8080
        parentRefs:
          - name: kgateway-internal
            namespace: networking-system

        rules:
          - backendRefs:
              - identifier: app
                port: http

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /config
      # qbrr re-announce
      # 'Run on torrent added', `/qbrr/qbrr --hash %I`
      # qbrr:
      #   type: image
      #   image: ghcr.io/buroa/qbrr:0.1.2
      shared:
        existingClaim: downloads
        globalMounts:
          - path: /downloads
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
