---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name externaldns-cloudflare
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: external-dns

  values:
    fullnameOverride: *name
    domainFilters: ["noirprime.com"]
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare
            key: CLOUDFLARE_API_TOKEN
      # HTTPS_PROXY is needed for sync
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --cloudflare-proxied
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --gateway-name=kgateway-external
    podAnnotations:
      reloader.stakater.com/auto: "true"
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 2000
      runAsGroup: 2000
      allowPrivilegeEscalation: false
      capabilities: { drop: ["ALL"] }
    policy: sync
    provider:
      name: cloudflare
    resources:
      requests:
        cpu: 13m
      limits:
        memory: 42M
    serviceMonitor:
      enabled: true
    sources:
      - crd
      - gateway-httproute
    txtPrefix: "k8s-ext."

  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *name
            patch: |
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
