---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name moviepilot
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17"
            envFrom:
              - secretRef:
                  name: moviepilot-initdb
        containers: # this container has to start as host root
          app:
            image:
              repository: mirror.gcr.io/jxxghp/moviepilot-v2
              tag: 2.8.1
            env:
              NGINX_PORT: &port 3000
              PORT: &apiPort 3001
              CACHE_BACKEND_TYPE: "redis"
              CACHE_BACKEND_URL: redis://moviepilot-dragonfly.media-apps.svc.cluster.local:6379/0
              CACHE_REDIS_MAXMEMORY: "1024mb"
              DB_TYPE: "postgresql"
              DB_POSTGRESQL_HOST:
                valueFrom:
                  secretKeyRef:
                    name: &pguser moviepilot-pguser
                    key: host
              DB_POSTGRESQL_PORT:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: port
              DB_POSTGRESQL_DATABASE:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: db
              DB_POSTGRESQL_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: username
              DB_POSTGRESQL_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: password
              PROXY_HOST: "${HTTPS_PROXY}"
              PUID: "2000"
              PGID: "2000"
            envFrom:
              - configMapRef:
                  name: *name
              - secretRef:
                  name: *name
            resources:
              requests:
                cpu: 20m
                gpu.intel.com/i915: 1
              limits:
                memory: 1Gi
                gpu.intel.com/i915: 1

    service:
      app:
        ports:
          http:
            port: *port
            primary: true
          api:
            port: *apiPort
    route:
      app:
        hostnames: ["moviepilot.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: movie-pilot.png
          gethomepage.dev/name: Moviepilot
          gethomepage.dev/group: Media
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /config
      shared:
        existingClaim: nfs-shared-movie
        globalMounts:
          - path: /media
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /moviepilot/.cache/ms-playwright
            subPath: cache
