---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "${APP}-volsync"
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    template:
      data:
        KOPIA_REPOSITORY: "s3://volsync/${APP}"
        KOPIA_PASSWORD: "{{ .volsync }}"
        # garage
        AWS_S3_ENDPOINT: "http://nas.homelab.internal:9000"
        AWS_S3_DISABLE_TLS: "true"
        AWS_ACCESS_KEY_ID: "{{ .volsync_access_key }}"
        AWS_SECRET_ACCESS_KEY: "{{ .volsync_secret_key }}"
  dataFrom:
    - extract:
        key: encryption_cipher
    - extract:
        key: garage
