---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: irqbalance
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        type: daemonset
        pod:
          hostIPC: true
          hostPID: true
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/irqbalance
              tag: 1.9.4
            env:
              # cpu = Intel 13900h, 12-19 are E-cores
              IRQBALANCE_BANNED_CPULIST: 12-19
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 32Mi
            securityContext:
              privileged: true

    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /run/irqbalance
