---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname external-secrets
  namespace: gitops-system
spec:
  targetNamespace: security
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 5m
  
  path: "./kubernetes/apps/security/external-secrets/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: gitops-system
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname external-secrets-stores
  namespace: gitops-system
spec:
  targetNamespace: security
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 5m
  
  path: "./kubernetes/apps/security/external-secrets/stores"
  prune: true
  sourceRef:
    kind: GitRepository
    name: gitops-system
  wait: true
  dependsOn:
    - name: external-secrets
    - name: onepassword-connect
