---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name snapshot-controller
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: snapshot-controller

  values:
    installCRDs: true
    controller:
      replicaCount: 1
      serviceMonitor:
        create: true
