---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name cilium
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: cilium

  values:
    # :: enabled tunning
    # BIGTCP, xdp, for Intel-x710(ice);
    # Recommendation:netkit, host-routing, bbr, ebpf-backend-memory, ebpf-clock-probe, preallocate-maps, maglev-hashing;
    # :: features
    # hubble:disabled, hostLegacyRouting:disabled, ipam:kubernetes;
    # envoy:disabled, gatewayAPI:disabled, bgpControlPlane:disabled, l2announcements:disabled;
    # ::
    autoDirectNodeRoutes: true
    bandwidthManager:
      enabled: true
      bbr: true
    bpf:
      datapathMode: netkit
      distributedLRU.enabled: true # cost more memory
      mapDynamicSizeRatio: 0.08
      masquerade: true
      preallocateMaps: true
    bpfClockProbe: true
    cgroup:
      autoMount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    cluster:
      id: 1
      name: main
    cni:
      exclusive: false
    devices: bond+
    # enableIPv4BIGTCP: true  # disable for test only
    endpointRoutes:
      enabled: true
    envoy:
      enabled: false
    gatewayAPI:
      enabled: false
    hubble:
      enabled: false
    ipam:
      mode: "kubernetes"
    ipv4NativeRoutingCIDR: 10.100.0.0/17
    k8sServiceHost: localhost
    k8sServicePort: 7445
    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    l2announcements:
      enabled: false
    loadBalancer:
      acceleration: best-effort
      algorithm: maglev
      mode: hybrid
    operator:
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      replicas: 3 # critical for HA
      rollOutPods: true
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    rollOutCiliumPods: true
    routingMode: native
    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - PERFMON
          - BPF
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
