---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/grafana.integreatly.org/grafana_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: &name grafana
  labels:
    grafana.internal/instance: grafana
spec:
  # : features
  # enable replicas with database support;
  # disable image-rendering;
  config:
    analytics:
      check_for_updates: "false"
      check_for_plugin_updates: "false"
      feedback_links_enabled: "false"
      reporting_enabled: "false"
    auth:
      disable_login_form: "false"
    auth.anonymous:
      enabled: "false"
    date_formats:
      use_browser_locale: "true"
    log:
      mode: "console"
    metrics:
      enabled: "true"
    news:
      news_feed_enabled: "false"
    panels:
      disable_sanitize_html: "true"
    plugins:
      plugin_admin_enabled: "false"
    server:
      enable_gzip: "true"
      root_url: https://grafana.noirprime.com
    database:
      type: "postgres"
      host: "postgres-rw.database-system.svc.cluster.local:5432"
      name: *name
      user: *name
      password: *name
  deployment:
    spec:
      replicas: 2
      template:
        spec:
          initContainers:
            - name: init-db
              image: ghcr.io/home-operations/postgres-init:18
              envFrom:
                - secretRef:
                    name: grafana-initdb
          containers:
            - name: grafana
              env:
                - name: GF_PLUGINS_PREINSTALL
                  value: "grafana-clock-panel,victoriametrics-metrics-datasource,victoriametrics-logs-datasource"
                - name: GF_SECURITY_ADMIN_USER
                  valueFrom:
                    secretKeyRef:
                      name: *name
                      key: admin-user
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: *name
                      key: admin-password
              resources:
                requests:
                  cpu: 50m
                limits:
                  memory: 512Mi
  disableDefaultAdminSecret: true
  version: grafana/grafana:12.3.1
