---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/monitoring.coreos.com/probe_v1.json
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: devices
spec:
  module: icmp
  prober:
    url: blackbox-exporter.monitoring-system.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - pve.homelab.internal
        - nas.homelab.internal
        - zigbee.homelab.internal
---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/monitoring.coreos.com/probe_v1.json
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: nfs
spec:
  module: tcp_connect
  prober:
    url: blackbox-exporter.monitoring-system.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - nas.homelab.internal:2049
