---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name kopia
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    configMaps:
      config:
        data:
          repository.config: |-
            {
              "storage": {
                "type": "filesystem",
                "config": {
                  "path": "/repository"
                }
              },
              "hostname": "volsync.storage-system.svc.cluster.local",
              "username": "volsync",
              "description": "volsync",
              "enableActions": false
            }
    controllers:
      *name :
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65534 # qnap:guest
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/kopia
              tag: 0.21.1@sha256:f666b5f2c1ea4649cd2bd703507d4b81c2b515782e8476ba4a145b091a704a53
            env:
              KOPIA_WEB_ENABLED: true
              KOPIA_WEB_PORT: &port 8080
            envFrom:
              - secretRef:
                  name: *name
            args:
              - --without-password
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["kopia.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: kopia.svg
          gethomepage.dev/name: Kopia
          gethomepage.dev/group: Storage
          gethomepage.dev/widget.type: kopia
          gethomepage.dev/widget.url: http://kopia.storage-system.svc.cluster.local:8080
        parentRefs:
          - name: internal
            namespace: kube-system

    persistence:
      app:
        existingClaim: volsync
        globalMounts:
          - path: /repository
      config:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/repository.config
            subPath: repository.config
      tmpfs:
        type: emptyDir
        advancedMounts:
          *name :
            app:
              - path: /config/cache
                subPath: cache
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
