---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name reloader
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: reloader

  values:
    fullnameOverride: *name
