---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name externaldns-adguard
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: external-dns

  values:
    fullnameOverride: *name
    domainFilters: ["noirprime.com"]
    extraArgs:
      - --webhook-provider-url=http://localhost:8888
      - --gateway-name=internal
    podAnnotations:
      reloader.stakater.com/auto: "true"
    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 2000
      runAsGroup: 2000
      allowPrivilegeEscalation: false
      capabilities: { drop: ["ALL"] }
    policy: upsert-only
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v9.2.0@sha256:e16a2a4a0737a386a8d92c659e6d9369e6a2c33562c48ee0d9a78ba5b7f44037
        livenessProbe: &probes
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 30
          periodSeconds: 20
          timeoutSeconds: 10
        readinessProbe: *probes
        env:
          - name: DRY_RUN
            value: "false"
          - name: LOG_LEVEL
            value: debug
          - name: SERVER_HOST
            value: 0.0.0.0
          - name: ADGUARD_URL
            value: "http://${SUBNET}.10:9200"
          - name: ADGUARD_USER
            valueFrom:
              secretKeyRef:
                name: *name
                key: adguard-user
          - name: ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                name: *name
                key: adguard-password
    resources:
      requests:
        cpu: 16m
      limits:
        memory: 90M
    serviceMonitor:
      enabled: true
    sources:
      - gateway-httproute
      - service
    txtPrefix: "k8s-int."
