---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name dify-web
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: mirror.gcr.io/langgenius/dify-web
              tag: 1.11.3
            env:
              NEXT_TELEMETRY_DISABLED: "0"
              TEXT_GENERATION_TIMEOUT_MS: "60000"
              ALLOW_EMBED: "false"
              ALLOW_UNSAFE_DATA_SCHEME: "false"
              MARKETPLACE_API_URL: "https://marketplace.dify.ai"
              MARKETPLACE_URL: "https://marketplace.dify.ai"
              PM2_INSTANCES: "1"
              LOOP_NODE_MAX_COUNT: "100"
              MAX_TOOLS_NUM: "10"
              MAX_PARALLEL_LIMIT: "10"
              MAX_ITERATIONS_NUM: "99"
              MAX_TREE_DEPTH: "50"
              ENABLE_WEBSITE_JINAREADER: "true"
              ENABLE_WEBSITE_FIRECRAWL: "true"
              ENABLE_WEBSITE_WATERCRAWL: "true"
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      web:
        ports:
          http:
            port: 3000

    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /home/dify/.pm2
