---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted-apps
components:
  - ../../components/namespace
resources:
  # - ./comfyui/ks.yaml # gpu works better
  - ./convertx/ks.yaml
  - ./dify/ks.yaml
  - ./dispatcharr/ks.yaml
  - ./freshrss/ks.yaml
  - ./homepage/ks.yaml
  - ./home-assistant/ks.yaml
  - ./karakeep/ks.yaml
  - ./n8n/ks.yaml
  - ./netbox/ks.yaml
  - ./ollama/ks.yaml
  - ./opencloud/ks.yaml
  - ./sillytavern/ks.yaml
  - ./stirling-pdf/ks.yaml
  - ./zigbee2mqtt/ks.yaml
