---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lldap
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    template:
      data:
        # Basic
        LLDAP_LDAP_USER_PASS: "{{ .admin_pass }}"
        LLDAP_JWT_SECRET: "{{ .jwt_secret }}"
        LLDAP_SERVER_KEY_SEED: "{{ .server_key_seed }}"
  dataFrom:
    - extract:
        key: app_user
    - extract:
        key: lldap
