---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name lldap
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        replicas: 2
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18"
            envFrom:
              - secretRef:
                  name: lldap-initdb
        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: 2025-12-02-alpine-rootless
            env:
              LLDAP_HTTP_PORT: &port 80
              LLDAP_HTTP_URL: https://lldap.noirprime.com
              LLDAP_LDAP_PORT: &ldapPort 389
              LLDAP_LDAP_BASE_DN: dc=homelab,dc=internal
              LLDAP_SMTP_OPTIONS__ENABLE_PASSWORD_RESET: "false"
              LLDAP_DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: lldap-pguser
                    key: uri
            envFrom:
              - secretRef:
                  name: *name
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            primary: true
            port: *port
          ldap:
            port: *ldapPort
    route:
      app:
        hostnames: ["lldap.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: "mdi-account-key"
          gethomepage.dev/name: LLDAP
          gethomepage.dev/group: Service
        parentRefs:
          - name: kgateway-internal
            namespace: networking-system

        rules:
          - backendRefs:
              - identifier: app
                port: http

    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /data
