---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name freshrss
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: freshrss/freshrss
              tag: 1.27.1-alpine
            env:
              CRON_MIN: "*"
              DOMAIN: rss.noirprime.com
              LISTEN: &port 8080
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 12m
              limits:
                memory: 512Mi

    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["rss.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: freshrss.png
          gethomepage.dev/name: FreshRSS
          gethomepage.dev/group: Service
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /var/www/FreshRSS/data
            subPath: data
          - path: /var/www/FreshRSS/extensions
            subPath: extensions
