---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name immich
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  targetNamespace: media-apps
  path: "./kubernetes/apps/media-apps/immich/app"
  sourceRef:
    kind: GitRepository
    name: gitops-system
    namespace: gitops-system
  interval: 1h
  timeout: 5m
  prune: true
  wait: false
  dependsOn:
    - name: cnpg-cluster
      namespace: database-system
    - name: dragonfly-operator
      namespace: database-system
    - name: keda
      namespace: kube-system
    - name: nfs-shared
      namespace: media-apps
    - name: onepassword-connect
      namespace: security-system
  components:
    - ../../../../components/cnpg
    - ../../../../components/dragonfly
    - ../../../../components/keda-nfs-scaler
  postBuild:
    substitute:
      APP: *name
