---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name comfyui
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
          config.home.ops/proxy: "https" # https_proxy needed
        containers:
          app:
            image:
              repository: mirror.gcr.io/zeroclue/comfyui
              tag: base-torch2.8.0-cu126
            env:
              COMFYUI_EXTRA_ARGS: "--cpu --preview-method auto"
              ENABLE_CODE_SERVER: "true"
              ENABLE_PRESET_MANAGER: "true"
              IMAGE_PRESET_DOWNLOAD: "FLUX_DEV_BASIC,FLUX_SCHNELL_BASIC"
            resources:
              requests:
                cpu: 4000m
              limits:
                memory: 80Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 3000
            primary: true
          code:
            port: 8080
          jupyter:
            port: 8888
    route:
      app:
        hostnames: ["comfyui.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: comfy-ui.png
          gethomepage.dev/name: Comfyui
          gethomepage.dev/group: Service
        parentRefs:
          - name: kgateway-internal
            namespace: networking-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /workspace
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
