---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name dispatcharr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/dispatcharr/dispatcharr
              tag: 0.19.0
            env:
              # Modular deployment bugged until upstream fixed
              # Not support any kind of proxies
              DISPATCHARR_ENV: aio
              DISPATCHARR_LOG_LEVEL: info
              DISPATCHARR_PORT: &port 9191
              REDIS_HOST: localhost
              CELERY_BROKER_URL: redis://localhost:6379/0
            resources:
              requests:
                cpu: 20m
                gpu.intel.com/i915: 1
              limits:
                memory: 1Gi
                gpu.intel.com/i915: 1

    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: *port
    route:
      app:
        hostnames: ["iptv.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: "dispatcharr.svg"
          gethomepage.dev/name: DispatchArr
          gethomepage.dev/group: Media
        parentRefs:
          - name: kgateway-internal
            namespace: networking-system

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /data
