---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name metube
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
          config.homelab.ops/proxy: "https" # https_proxy needed
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 101 # synology:admin
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/alexta69/metube
              tag: 2026.02.03
            envFrom:
              - configMapRef:
                  name: *name
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 2Gi
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 8081
    route:
      app:
        hostnames: ["metube.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: metube.png
          gethomepage.dev/name: Metube
          gethomepage.dev/group: Download
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https

    persistence:
      movie:
        existingClaim: video
        globalMounts:
          - path: /data/movie
            subPath: youtube
      music:
        existingClaim: music
        globalMounts:
          - path: /data/audio
            subPath: youtube
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
