---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name immich
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18"
            envFrom:
              - secretRef:
                  name: immich-initdb
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1@sha256:e6a6298e67ae077808fdb7d8d5565955f60b0708191576143fc02d30ab1389d1
            env:
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: &pguser immich-pguser
                    key: username
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: password
              DB_DATABASE_NAME:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: db
              DB_HOSTNAME:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: host
              DB_PORT:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: port
            envFrom: &envFrom
              - configMapRef:
                  name: *name
            ports:
              - name: http
                containerPort: &port 2283
            resources:
              requests: &requests
                cpu: 100m
              limits:
                memory: 2Gi
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
          machine-learning:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.1
            env:
              TRANSFORMERS_CACHE: /cache
            envFrom: *envFrom
            ports:
              - name: http
                containerPort: &mlPort 3003
            resources:
              requests: *requests
              limits:
                memory: 4Gi
            securityContext: *securityContext

    service:
      app:
        ports:
          http:
            port: *port
            primary: true
          machine-learning:
            port: *mlPort
    route:
      app:
        hostnames: ["photo.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: immich.png
          gethomepage.dev/name: Immich
          gethomepage.dev/group: Media
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.url: http://immich.media-apps.svc.cluster.local:2283
          gethomepage.dev/widget.key: '{{ "{{HOMEPAGE_VAR_IMMICH_API_KEY}}" }}'
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https

    persistence:
      shared:
        existingClaim: nfs-shared-photo
        advancedMounts:
          *name :
            app:
              - path: /data
      tmpfs:
        type: emptyDir
        advancedMounts:
          *name :
            machine-learning:
              - path: /cache
                subPath: cache
              - path: /tmp
                subPath: tmp
