---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name openebs-localpv
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  targetNamespace: storage-system
  path: "./kubernetes/apps/storage-system/openebs-localpv/app"
  sourceRef:
    kind: GitRepository
    name: gitops-system
    namespace: gitops-system
  interval: 1h
  timeout: 5m
  prune: true
  wait: true
