---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: openebs

  values:
    localpv-provisioner:
      analytics:
        enabled: false
      global:
        imageRegistry: "mirror.gcr.io"
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
      localpv:
        replicas: 2
        basePath: /var/local/openebs

    alloy:
      enabled: false
    loki:
      enabled: false
    minio:
      enabled: false

    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: false
        rawfile:
          enabled: false

    mayastor:
      csi:
        node:
          initContainers:
            enabled: false
