---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name cloudflare-tunnel
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    fullnameOverride: *name
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        # ping group specified
        runAsUser: 65534
        runAsGroup: 65534

    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
          config.home.ops/proxy: "all" # all_proxy needed
        containers:
          app:
            image:
              # cloudflared fork with socks5 support
              # repository: ghcr.io/alliottech/cloudflared_proxy
              repository: cloudflare/cloudflared
              tag: 2026.2.0
            args: ["tunnel", "run"]
            env:
              NO_AUTOUPDATE: "true"
              TUNNEL_LOGLEVEL: "debug"
              TUNNEL_TRANSPORT_PROTOCOL: "http2"
              TUNNEL_METRICS: 0.0.0.0:8080
            envFrom:
              - secretRef:
                  name: *name
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 30s

    persistence:
      config:
        type: configMap
        identifier: config
        globalMounts:
          - path: /etc/cloudflared/config.yaml
            subPath: config.yaml
            readOnly: true

    configMaps:
      config:
        data:
          config.yaml: |-
            ingress:
              - hostname: "*.noirprime.com"
                originRequest:
                  http2Origin: true
                  originServerName: gateway-ext.noirprime.com
                service: https://envoy-external.networking-system.svc.cluster.local:443
              - service: http_status:404
