---
apiVersion: v1
kind: ConfigMap
metadata:
  name: authelia
data:
  configuration.yaml: |
    ---
    log:
      level: info

    authentication_backend:
      ldap:
        address: ldap://lldap.security-system.svc.cluster.local:389
        implementation: custom
        timeout: 5s
        start_tls: false
        base_dn: dc=homelab,dc=internal
        additional_users_dn: ou=people
        users_filter: (&({username_attribute}={input})(objectClass=person))
        additional_groups_dn: ou=groups
        groups_filter: (member={dn})
        user: uid=admin,ou=people,dc=homelab,dc=internal
        attributes:
          username: uid
          display_name: displayName
          group_name: cn
          mail: mail
          member_of: memberOf
      password_reset:
        disable: true
      refresh_interval: 1m

    regulation:
      max_retries: 3
      find_time: 1h
      ban_time: 1d

    session:
      name: authelia
      inactivity: 3d
      expiration: 7d
      remember_me: 6M
      cookies:
        - domain: noirprime.com
          authelia_url: https://auth.noirprime.com
      redis:
        host: authelia-dragonfly.security-system.svc.cluster.local

    access_control:
      default_policy: two_factor
      networks:
        - name: internal
          networks:
            - 10.0.0.0/8
            - 172.16.0.0/12
            - 192.168.0.0/16
      rules:
        # Bypass domains that have their own auth
        - domain: displex.noirprime.com
          resources: ["^/auth.*$"]
          policy: bypass
        - domain:
            - sonarr.noirprime.com
            - radarr.noirprime.com
          resources: ["^/api.*$"]
          policy: bypass
        - domain:
            - atuin.noirprime.com
            - autobrr.noirprime.com
            - emqx.noirprime.com
            - grafana.noirprime.com
            - homepage.noirprime.com
            - lldap.noirprime.com
            - rook.noirprime.com
          policy: bypass
        - domain:
            - sonarr.noirprime.com
            - radarr.noirprime.com
            - sabnzbd.noirprime.com
            - qbittorrent.noirprime.com
          subject:
            - "group:media"
          policy: one_factor
        - domain:
            - paperless.noirprime.com
          subject:
            - "group:documents"
          policy: two_factor
        - domain: "*.noirprime.com"
          subject:
            - "group:admin"
          policy: two_factor
        - domain: "*.noirprime.com"
          policy: deny

    # disable smtp
    # notifier:
    #   smtp:
    #     sender: "Authelia <auth@noirprime.com>"

    identity_validation:
      reset_password:
        jwt_secret: '{{ env "JWT_SECRET" }}'

    identity_providers:
      oidc:
        cors:
          endpoints:
            - authorization
            - token
            - revocation
            - introspection
          allowed_origins_from_client_redirect_uris: true
        claims_policies:
          ## Creates the 'default' claims policy.
          default:
            id_token: ['groups', 'email', 'email_verified', 'alt_emails', 'preferred_username', 'name']

        jwks:
          - key_id: default
            key: {{ env "JWKS_KEY" | mindent 10 "|" | msquote }}
        clients:
          - client_name: Grafana
            client_id: '{{ env "GRAFANA_OAUTH_CLIENT_ID" }}'
            client_secret: '{{ env "GRAFANA_OAUTH_CLIENT_SECRET" }}'
            public: false
            authorization_policy: two_factor
            pre_configured_consent_duration: 1y
            scopes:
              - openid
              - profile
              - groups
              - email
            redirect_uris:
              - https://grafana.noirprime.com/login/generic_oauth
            userinfo_signed_response_alg: none
            claims_policy: default
          - client_name: Immich
            client_id: '{{ env "IMMICH_OAUTH_CLIENT_ID" }}'
            client_secret: '{{ env "IMMICH_OAUTH_CLIENT_SECRET" }}'
            public: false
            authorization_policy: two_factor
            pre_configured_consent_duration: 1y
            scopes:
              - openid
              - profile
              - email
            redirect_uris:
              - https://photo.noirprime.com/auth/login
              - app.immich:/
              - app.immich:///oauth-callback
            userinfo_signed_response_alg: none
            claims_policy: default
            token_endpoint_auth_method: client_secret_post
