---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name authelia
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        replicas: 2
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18"
            envFrom:
              - secretRef:
                  name: authelia-initdb
        containers:
          app:
            image:
              repository: ghcr.io/authelia/authelia
              tag: 4.39.15
            env:
              AUTHELIA_SERVER_ADDRESS: tcp://0.0.0.0:80
              AUTHELIA_DUO_API_DISABLE: "true"
              AUTHELIA_SERVER_DISABLE_HEALTHCHECK: "true"
              AUTHELIA_TELEMETRY_METRICS_ENABLED: "false"
              AUTHELIA_THEME: auto
              AUTHELIA_TOTP_ISSUER: authelia.com
              X_AUTHELIA_CONFIG_FILTERS: template
              AUTHELIA_STORAGE_POSTGRES_ADDRESS:
                valueFrom:
                  secretKeyRef:
                    name: &pguser authelia-pguser
                    key: host
              AUTHELIA_STORAGE_POSTGRES_DATABASE:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: db
              AUTHELIA_STORAGE_POSTGRES_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: username
              AUTHELIA_STORAGE_POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pguser
                    key: password
            envFrom:
              - secretRef:
                  name: *name
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ["auth.noirprime.com"]
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https

    persistence:
      config:
        enabled: true
        type: configMap
        name: *name
        globalMounts:
          - path: /config/configuration.yml
            subPath: configuration.yaml
            readOnly: true
