---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name cert-manager
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: cert-manager

  values:
    crds:
      enabled: true
    dns01RecursiveNameservers: https://1.1.1.1:443/dns-query,https://1.0.0.1:443/dns-query
    dns01RecursiveNameserversOnly: true
    # HTTPS_PROXY is needed, under 'extraEnv'
    prometheus:
      enabled: true
      servicemonitor:
        enabled: true
    replicaCount: 2
    # gateway-api support removed for simplicity
