---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media-apps
components:
  - ../../components/namespace
resources:
  # storage
  - ./nfs-shared/ks.yaml
  # media
  # - ./audiobookshelf/ks.yaml
  - ./audiomuse/ks.yaml
  - ./emby/ks.yaml
  - ./immich/ks.yaml
  - ./kavita/ks.yaml
  - ./lyrion/ks.yaml
  - ./metube/ks.yaml
  - ./moviepilot/ks.yaml
  # - ./mumc/ks.yaml
  - ./qbittorrent/ks.yaml
  # others
  # - ./frigate/ks.yaml
  # - ./foundryvtt/ks.yaml
