---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name netbox
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: netbox

  values:
    fullnameOverride: *name
    timeZone: "Asia/Shanghai"
    superuser:
      existingSecret: *name
    postgresql:
      enabled: false
    externalDatabase:
      host: postgres-rw.database-system.svc.cluster.local
      database: *name
      username: *name
      password: *name
    initContainers:
      - name: init-db
        image: ghcr.io/home-operations/postgres-init:18
        envFrom:
          - secretRef:
              name: netbox-initdb
    valkey:
      enabled: false
    tasksDatabase:
      host: &redis netbox-dragonfly.selfhosted-apps.svc.cluster.local
    cachingDatabase:
      host: *redis
    persistence:
      existingClaim: *name
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    # cronjob is deprecated
    housekeeping:
      enabled: false
    # fix worker stuck at 'init'
    worker:
      updateStrategy:
        type: Recreate
    # below is the reason using official chart
    image:
      repository: ghcr.io/soulwhisper/netbox-custom
      tag: 4.4.7
    plugins:
      - netbox_attachments
      - netbox_bgp
      - netbox_floorplan
      - netbox_interface_synchronization
      - netbox_dns
      - netbox_prometheus_sd
      - netbox_qrcode
      - netbox_reorder_rack
      - netbox_topology_views
    #   - netbox_napalm_plugin
    # pluginsConfig:
    #   netbox_napalm_plugin:
    #     NAPALM_USERNAME:
    #       valueFrom:
    #         secretKeyRef:
    #           name: *name
    #           key: NAPALM_USERNAME
    #     NAPALM_PASSWORD:
    #       valueFrom:
    #         secretKeyRef:
    #           name: *name
    #           key: NAPALM_PASSWORD
