---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name karakeep
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
          config.homelab.ops/proxy: "https" # https_proxy needed
        containers:
          app:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.30.0
            env:
              BROWSER_WEB_URL: http://localhost:9222
              CRAWLER_DOWNLOAD_BANNER_IMAGE: true
              CRAWLER_ENABLE_ADBLOCKER: true
              CRAWLER_STORE_SCREENSHOT: true
              DATA_DIR: /data
              DISABLE_SIGNUPS: true
              MEILI_ADDR: http://localhost:7700
              NEXTAUTH_URL: https://karakeep.noirprime.com
              DISABLE_NEW_RELEASE_CHECK: true
              COREPACK_INTEGRITY_KEYS: 0
            envFrom:
              - secretRef:
                  name: *name
            ports:
              - name: http
                containerPort: &port 3000
            resources: &resources
              requests:
                cpu: 10m
              limits:
                memory: 1Gi

          chrome:
            image:
              repository: gcr.io/zenika-hub/alpine-chrome
              tag: 124
            command:
              - chromium-browser
            args:
              - --headless
              - --no-sandbox
              - --disable-gpu
              - --disable-dev-shm-usage
              - --remote-debugging-address=0.0.0.0
              - --remote-debugging-port=9222
              - --hide-scrollbars
            ports:
              - name: http
                containerPort: 9222
            resources: *resources

          meilisearch:
            image:
              repository: mirror.gcr.io/getmeili/meilisearch
              tag: v1.33.1
            args:
              - /bin/meilisearch
              - --experimental-dumpless-upgrade
            env:
              MEILI_NO_ANALYTICS: true
            envFrom:
              - secretRef:
                  name: *name
            ports:
              - name: http
                containerPort: 7700
            resources: *resources

    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["bookmarks.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: karakeep.png
          gethomepage.dev/name: Karakeep
          gethomepage.dev/group: Service
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /data
            subPath: karakeep
          - path: /meili_data
            subPath: meilisearch
