---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name grafana-mcp
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: grafana-mcp

  values:
    # ref:https://github.com/grafana/helm-charts/blob/main/charts/grafana-mcp/values.yaml
    image:
      registry: mirror.gcr.io
    extraArgs: ["-t", "streamable-http"]
    env:
      - name: GRAFANA_URL
        value: "http://grafana.monitoring-system.svc.cluster.local:3000"
      - name: GRAFANA_USERNAME
        valueFrom:
          secretKeyRef:
            name: grafana
            key: admin-user
      - name: GRAFANA_PASSWORD
        valueFrom:
          secretKeyRef:
            name: grafana
            key: admin-password
