---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name ytdl-sub
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        type: cronjob
        cronjob:
          schedule: "0 */6 * * *"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 1
        containers:
          app:
            image:
              repository: ghcr.io/jmbannon/ytdl-sub
              tag: 2025.05.01
            command:
              - bash
              - -c
            args:
              - |
                ytdl-sub --log-level=debug --config=/config/config.yaml sub /data/subscriptions.yaml
            resources:
              requests:
                cpu: 10m
                gpu.intel.com/i915: 1
              limits:
                gpu.intel.com/i915: 1
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    persistence:
      config:
        type: configMap
        name: *name
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
      shared:
        type: nfs
        server: nas.homelab.internal
        path: /mnt/Arcanum/Media
        advancedMounts:
          *name :
            app:
              - path: /data
                subPath: Downloads/ytdl-sub
              - path: /movie
                subPath: movie
              - path: /music
                subPath: music
              - path: /tv_show
                subPath: tv-show
