---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name lyrion
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  # lyrion handle users and permissions internally
  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/lms-community/lyrionmusicserver
              tag: 9.1.0
            env:
              PUID: "2000"
              PGID: "100" # synology:users
            resources:
              requests:
                cpu: 40m
              limits:
                memory: 1Gi

    service:
      app:
        ports:
          http:
            primary: true
            port: 9000
            protocol: TCP
          cli:
            port: 9090
            protocol: TCP
          slimproto:
            port: 3483
            protocol: TCP
          slimproto-udp:
            port: 3483
            protocol: UDP
    route:
      app:
        hostnames: ["music.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: lyrion.png
          gethomepage.dev/name: Lyrion
          gethomepage.dev/group: Media
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /config
      shared:
        existingClaim: nfs-shared-music
        globalMounts:
          - path: /music
