{% set is_vm = (ENV.MODE == 'test') %}
{% set is_baremetal = (ENV.MODE == 'prod') %}
---
customization:
  extraKernelArgs:
    - -lockdown # secureboot
    - lockdown=integrity # secureboot
    {% if is_vm %}
    - console=ttyS0 # hci only
    {% endif %}
    {% if is_baremetal %}
    - talos.network.interface.ignore=enp88s0 # block i226-lm in ms-01
    {% endif %}
  systemExtensions:
    officialExtensions:
      - siderolabs/intel-ucode
      - siderolabs/i915
      - siderolabs/mei
      - siderolabs/nut-client
      - siderolabs/thunderbolt
