---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name kromgo
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: kromgo
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          kromgo:
            image:
              repository: ghcr.io/kashalls/kromgo
              tag: v0.7.5
            env:
              PROMETHEUS_URL: http://vmsingle-victoria-metrics-cluster.monitoring-system.svc.cluster.local:8428
              SERVER_HOST: 0.0.0.0
              SERVER_PORT: &port 8080
              HEALTH_HOST: 0.0.0.0
              HEALTH_PORT: &hport 8888
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /readyz
                    port: *hport
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 64Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            primary: true
            port: *port
          health:
            port: *hport
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        hostnames: ["kromgo.noirprime.com"]
        parentRefs:
          - name: kgateway-external
            namespace: networking-system

    persistence:
      config:
        type: configMap
        name: *name
        globalMounts:
          - path: /kromgo/config.yaml
            subPath: config.yaml
            readOnly: true
