---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name homepage
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
          config.homelab.ops/proxy: "https" # https_proxy needed
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.9.0
            env:
              HOMEPAGE_ALLOWED_HOSTS: "*"
            envFrom:
              - secretRef:
                  name: *name
            ports:
              - name: http
                containerPort: &port 3000
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 500Mi

    serviceAccount:
      *name : {}
    rbac:
      roles:
        *name :
          type: ClusterRole
          rules:
            - apiGroups: [""]
              resources: ["namespaces", "pods", "nodes"]
              verbs: ["get", "list"]
            - apiGroups: ["gateway.networking.k8s.io"]
              resources: ["httproutes", "gateways"]
              verbs: ["get", "list"]
            - apiGroups: ["metrics.k8s.io"]
              resources: ["pods", "nodes"]
              verbs: ["get", "list"]
            - apiGroups: ["apiextensions.k8s.io"]
              resources: ["customresourcedefinitions/status"]
              verbs: ["get"]
      bindings:
        *name :
          type: ClusterRoleBinding
          roleRef:
            kind: ClusterRole
            identifier: *name
          subjects:
            - identifier: *name

    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["home.noirprime.com"]
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https

    persistence:
      config:
        type: configMap
        name: *name
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
