---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: ${APP}-dragonfly
spec:
  replicas: 1
  image: ghcr.io/dragonflydb/dragonfly:v1.35.1
  args:
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=2
    - --cluster_mode=emulated
  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          resource: limits.memory
          divisor: 1Mi
  resources:
    requests:
      cpu: 100m
    limits:
      memory: "${REDIS_MEM:=512Mi}"
