---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: &name ${APP}-dragonfly
spec:
  jobLabel: *name
  selector:
    matchLabels:
      app: ${APP}-dragonfly
  podTargetLabels: ["app"]
  podMetricsEndpoints:
    - port: admin
  fallbackScrapeProtocol: PrometheusText0.0.4
