---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring-system
components:
  - ../../components/namespace
resources:
  # exporters
  - ./blackbox-exporter/ks.yaml
  - ./node-exporter/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./unpoller/ks.yaml
  # monitoring stack
  - ./grafana/ks.yaml
  - ./kube-state-metrics/ks.yaml
  - ./prometheus-crds/ks.yaml
  - ./silence-operator/ks.yaml
  # monitoring backend
  - ./victoria-logs/ks.yaml # replace loki and promtail
  - ./victoria-metrics/ks.yaml # replace kube-prometheus-stack
  # others
  - ./kromgo/ks.yaml
  - ./netdata/ks.yaml
  - ./robusta/ks.yaml
