---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name sillytavern
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/sillytavern/sillytavern
              tag: 1.15.0
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 8000
    route:
      app:
        hostnames: ["tavern.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: sillytavern.svg
          gethomepage.dev/name: SillyTavern
          gethomepage.dev/group: Service
        parentRefs:
          - name: kgateway-internal
            namespace: networking-system

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /home/node/app/backups
            subPath: backups
          - path: /home/node/app/config
            subPath: config
          - path: /home/node/app/data
            subPath: data
          - path: /home/node/app/public/scripts/extensions/third-party
            subPath: extensions
          - path: /home/node/app/plugins
            subPath: plugins
