---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-app
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    template:
      data:
        github_app_id: "{{ .app_id }}"
        github_app_installation_id: "{{ .app_installed }}"
        github_app_private_key: "{{ .app_private }}"
  dataFrom:
    - extract:
        key: github-keys
