---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mumc
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    template:
      data:
        mumc_config.yaml: |
          ---
          version: 5.11.36
          basic_settings:
            filter_statements:
              episode:
                played:
                  condition_days: 14
                  count_equality: '>='
                  count: 1
          advanced_settings:
            whitetags:
              episode:
                - archive
            REMOVE_FILES: true
            behavioral_statements:
              episode:
                whitetagged:
                  action: keep
                  user_conditional: all
                  played_conditional: ignore
                  action_control: 3
                  dynamic_behavior: false
            console_controls:
          admin_settings:
            server:
              brand: emby
              url: http://emby.media-apps.svc.cluster.local:8096
              auth_key: {{ .emby_api_key_mumc }}
            behavior:
              list: blacklist
              matching: byId
              users:
                monitor_disabled: false
            media_managers:
              radarr: []
              sonarr: []
            users:
              - user_id: # todo
                user_name: Admin
                blacklist:
                  - lib_id: # todo
                    lib_name: TV shows
                    collection_type: tvshows
                    path: /media/tvshows
                    network_path: null
                    subfolder_id: '2' # todo
                    lib_enabled: true
                whitelist: []
          DEBUG: 0
  dataFrom:
    - extract:
        key: starrs
