---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name mumc
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        type: cronjob
        cronjob:
          schedule: "10 1 * * *"
          backoffLimit: 0
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          successfulJobsHistory: 1
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 100 # synology:users
        containers:
          app:
            image:
              repository: ghcr.io/terrelsa13/mumc
              tag: v5.11.36
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              # readOnlyRootFilesystem: true

    persistence:
      app:
        type: secret
        name: *name
        globalMounts:
          - path: /usr/src/app/config/mumc_config.yaml
            subPath: mumc_config.yaml
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/logs
            subPath: logs
