---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: rook-ceph-dashboard
  annotations:
    gethomepage.dev/enabled: "true"
    gethomepage.dev/icon: rook.svg
    gethomepage.dev/name: Rook
    gethomepage.dev/group: Storage
    gethomepage.dev/pod-selector: app.kubernetes.io/name=ceph-mgr
    gatus.home-operations.com/endpoint: |
      conditions:
        - "[STATUS] == 200"
spec:
  hostnames: ["rook.noirprime.com"]
  parentRefs:
    - name: kgateway-internal
      namespace: networking-system

  rules:
    - backendRefs:
        - name: rook-ceph-mgr-dashboard
          namespace: storage-system
          port: 7000
