---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name frigate
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 100 # synology:users
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.16.3
            envFrom:
              - secretRef:
                  name: *name
            resources:
              requests:
                cpu: 10m
                gpu.intel.com/i915: 1
              limits:
                memory: 8Gi
                gpu.intel.com/i915: 1
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "10.10.0.142"
        ports:
          http:
            appProtocol: kubernetes.io/wss
            primary: true
            port: 5000
          go2rtc:
            port: 1984
          rtsp:
            port: 8554
          webrtc-tcp:
            port: 8555
            protocol: TCP
          webrtc-udp:
            port: 8555
            protocol: UDP
    route:
      app:
        hostnames: ["frigate.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: frigate.png
          gethomepage.dev/name: FrigateNVR
          gethomepage.dev/group: Service
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *name
                namespace: media-apps
                port: 5000
      go2rtc:
        hostnames: ["frigate-go2rtc.noirprime.com"]
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *name
                namespace: media-apps
                port: 1984

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /config
      shared:
        existingClaim: surveillance
        globalMounts:
          - path: /media/frigate
            subPath: frigate
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
      cache:
        enabled: true
        type: emptyDir
        medium: Memory
        sizeLimit: 2Gi
        globalMounts:
          - path: /dev/shm
