---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name zigbee2mqtt
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/koenkk/zigbee2mqtt
              tag: 2.7.2
            env:
              Z2M_WATCHDOG: default
              ZIGBEE2MQTT_DATA: /data
              ZIGBEE2MQTT_CONFIG_ADVANCED_CHANNEL: 20
              ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID:
                valueFrom:
                  secretKeyRef:
                    name: *name
                    key: zigbee_ext_pan_id
              ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: ISO_8601
              ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_API: false
              ZIGBEE2MQTT_CONFIG_ADVANCED_LEGACY_AVAILABILITY_PAYLOAD: false
              ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: info
              ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: >-
                ["console"]
              ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY:
                valueFrom:
                  secretKeyRef:
                    name: *name
                    key: zigbee_network_key
              ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID:
                valueFrom:
                  secretKeyRef:
                    name: *name
                    key: zigbee_pan_id
              ZIGBEE2MQTT_CONFIG_AVAILABILITY_ACTIVE_TIMEOUT: 60
              ZIGBEE2MQTT_CONFIG_AVAILABILITY_PASSIVE_TIMEOUT: 2000
              ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_LEGACY: false
              ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_RETAIN: true
              ZIGBEE2MQTT_CONFIG_EXPERIMENTAL_NEW_API: true
              ZIGBEE2MQTT_CONFIG_FRONTEND_PORT: &httpPort 8080
              ZIGBEE2MQTT_CONFIG_FRONTEND_URL: https://z2m.noirprime.com
              ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_DISCOVERY_TOPIC: homeassistant
              ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_EXPERIMENTAL_EVENT_ENTITIES: true
              ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_LEGACY_ENTITY_ATTRIBUTES: false
              ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_LEGACY_TRIGGERS: false
              ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_STATUS_TOPIC: homeassistant/status
              ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC: zigbee2mqtt
              ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: true
              ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: 60
              ZIGBEE2MQTT_CONFIG_MQTT_REJECT_UNAUTHORIZED: true
              ZIGBEE2MQTT_CONFIG_MQTT_SERVER: "mqtt://mosquitto.database-system.svc.cluster.local:1883"
              ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 5
              ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: false
              ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: zstack # SLZB-06P10
              ZIGBEE2MQTT_CONFIG_SERIAL_PORT: tcp://zigbee.homelab.internal:6638
              ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: 115200
              ZIGBEE2MQTT_CONFIG_SERIAL_DISABLE_LED: false
            resources: &resources
              requests:
                cpu: 40m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.1
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /data/user-data
              - --extensions-dir
              - /data/extensions
              - --port
              - "1337"
              - /data
            resources: *resources

    service:
      app:
        ports:
          http:
            primary: true
            port: *httpPort
          metrics:
            port: 9000
      code-server:
        ports:
          http:
            port: 1337

    route:
      app:
        hostnames: ["z2m.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: zigbee2mqtt.png
          gethomepage.dev/name: Zigbee2MQTT
          gethomepage.dev/group: SmartHome
          gethomepage.dev/pod-selector: "app.kubernetes.io/name=zigbee2mqtt"
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *name
                port: *httpPort
      code-server:
        hostnames: ["z2m-code.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: code-server.png
          gethomepage.dev/name: Zigbee2MQTT-Code
          gethomepage.dev/group: SmartHome
          gethomepage.dev/pod-selector: "app.kubernetes.io/name=zigbee2mqtt"
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *name
                port: 1337

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /data
      tmpfs:
        type: emptyDir
        advancedMounts:
          *name :
            app:
              - path: /tmp
                subPath: tmp/hass
            code-server:
              - path: /tmp
                subPath: tmp/code
              - path: /nonexistent
                subPath: nonexistent
