---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name rook-ceph
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  targetNamespace: storage-system
  path: "./kubernetes/apps/storage-system/rook-ceph/app"
  sourceRef:
    kind: GitRepository
    name: gitops-system
    namespace: gitops-system
  interval: 1h
  timeout: 5m
  prune: true
  wait: true
  dependsOn:
    - name: onepassword-connect
      namespace: security-system
---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name rook-ceph-cluster
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: rook-ceph
  targetNamespace: &namespace storage-system
  path: "./kubernetes/apps/storage-system/rook-ceph/cluster"
  sourceRef:
    kind: GitRepository
    name: gitops-system
    namespace: gitops-system
  interval: 1h
  timeout: 5m
  prune: true
  wait: true
  healthChecks:
    - apiVersion: ceph.rook.io/v1
      kind: CephCluster
      name: *namespace
      namespace: *namespace
    - apiVersion: ceph.rook.io/v1
      kind: CephBlockPool
      name: ceph-blockpool
      namespace: *namespace
    - apiVersion: ceph.rook.io/v1
      kind: CephFilesystem
      name: ceph-filesystem
      namespace: *namespace
  healthCheckExprs:
    # status checks is case-sensitive
    - apiVersion: ceph.rook.io/v1
      kind: CephCluster
      failed: status.ceph.health == 'HEALTH_ERR'
      current: status.ceph.health == 'HEALTH_OK' || status.ceph.health == 'HEALTH_WARN'
    - apiVersion: ceph.rook.io/v1
      kind: CephBlockPool
      failed: status.phase != 'Ready'
      current: status.phase == 'Ready'
    - apiVersion: ceph.rook.io/v1
      kind: CephFilesystem
      failed: status.phase != 'Ready'
      current: status.phase == 'Ready'
  dependsOn:
    - name: rook-ceph
      namespace: *namespace
