---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name robusta
spec:
  interval: 30m
  chart:
    spec:
      chart: robusta
      version: 0.31.4
      sourceRef:
        kind: HelmRepository
        name: robusta
        namespace: monitoring-system

  values:
    fullnameOverride: *name
    clusterName: homelab
    enablePrometheusStack: false
    enablePlatformPlaybooks: false
    enabledManagedConfiguration: false
    globalConfig:
      account_id: "{{ env.RUBUSTA_ID }}"
      signing_key: "{{ env.RUBUSTA_KEY }}"
      alertmanager_url: "http://vmalertmanager-victoria-metrics-cluster.monitoring-system.svc.cluster.local:9093"
      prometheus_url: "http://vmsingle-victoria-metrics-cluster.monitoring-system.svc.cluster.local:8428"
    runner:
      # https_proxy is needed for post, under 'additional_env_vars'
      additional_env_froms:
        - secretRef:
            name: *name
      sendAdditionalTelemetry: false
    sinksConfig:
      - robusta_sink:
          name: robusta_ui_sink
          token: "{{ env.RUBUSTA_TOKEN }}"
    enableHolmesGPT: false
