---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name silence-operator
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: silence-operator

  values:
    alertmanagerAddress: http://vmalertmanager-victoria-metrics-cluster.monitoring-system.svc.cluster.local:9093
    networkPolicy:
      enabled: false
