---
apiVersion: batch/v1
kind: Job
metadata:
  name: list-snapshots-{{ ENV.APP }}
  namespace: {{ ENV.NS }}
spec:
  ttlSecondsAfterFinished: 3600
  template:
    metadata:
      labels:
        app.kubernetes.io/created-by: volsync
    spec:
      automountServiceAccountToken: false
      restartPolicy: OnFailure
      containers:
        - name: list-snapshots
          image: docker.io/restic/restic:latest
          args:
            - snapshots
          envFrom:
            - secretRef:
                name: {{ ENV.APP }}-volsync
