---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name foundryvtt
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000 # node
            runAsGroup: 2000 # nfs
            fsGroup: 2000 # nfs
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65534 # qnap:guest
        containers:
          app:
            image:
              repository: mirror.gcr.io/felddy/foundryvtt
              tag: 13.350.0
            env:
              CONTAINER_CACHE: "/data" # platform=node, name like 'foundryvtt-13.350.zip'
              FOUNDRY_HOSTNAME: "fvtt.noirprime.com"
              FOUNDRY_IP_DISCOVERY: "false"
              FOUNDRY_MINIFY_STATIC_FILES: "true"
              FOUNDRY_PROXY_PORT: "443"
              FOUNDRY_PROXY_SSL: "true"
            envFrom:
              - secretRef:
                  name: *name
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 30000
    route:
      app:
        hostnames: ["fvtt.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: foundry-vtt.png
          gethomepage.dev/name: FoundryVTT
          gethomepage.dev/group: Games
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /home/node/resources/app
      shared:
        existingClaim: media
        globalMounts:
          - path: /data
            subPath: FoundryVTT
