---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: externaldns-adguard
spec:
  interval: 10m
  chart:
    spec:
      chart: external-dns
      version: 1.15.0
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns
        namespace: gitops-system

  values:
    extraArgs:
      - webhook-provider-url: http://localhost:8888
    podAnnotations:
      secret.reloader.stakater.com/reload: externaldns-adguard
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v8.0.0
        ports:
          - containerPort: 8888
            name: http
          - containerPort: 8080
            name: healthz
        livenessProbe:
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: healthz
          initialDelaySeconds: 10
          timeoutSeconds: 5
        env:
          - name: DOMAIN_FILTER
            value: "noirprime.com"
          - name: LOG_LEVEL
            value: debug
          - name: ADGUARD_URL
            value: http://172.19.82.10
          - name: ADGUARD_USER
            value: admin
          - name: ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                name: externaldns-adguard-secrets
                key: adguard-password
          - name: DRY_RUN
            value: "false"
    resources:
      requests:
        cpu: 16m
        memory: 90M
      limits:
        memory: 90M
    serviceMonitor:
      enabled: true
