---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: &name cnpg-operator
spec:
  jobLabel: *name
  selector:
    matchLabels:
      app.kubernetes.io/instance: cnpg-operator
      app.kubernetes.io/name: cloudnative-pg
  podMetricsEndpoints:
    - port: metrics
