---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name victoria-logs-server
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: victoria-logs-single

  values:
    server:
      fullnameOverride: *name
      retentionPeriod: 14d
      image:
        registry: "quay.io"
      persistentVolume:
        enabled: true
        storageClassName: ceph-block
        size: 50Gi
      serviceMonitor:
        enabled: true
