---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name stirling-pdf
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.stirlingpdf.com/stirlingtools/stirling-pdf
              tag: 2.2.0-fat
            envFrom:
              - configMapRef:
                  name: *name
              - secretRef:
                  name: *name
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames: ["spdf.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: stirling-pdf.png
          gethomepage.dev/name: Stirling-PDF
          gethomepage.dev/group: Service
        parentRefs:
          - name: envoy-internal
            namespace: networking-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /configs
            subPath: configs
          - path: /usr/share/tessdata
            subPath: tessdata
          - path: /pipeline
            subPath: pipeline
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /logs
            subPath: logs
