---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name open-webui
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
          config.homelab.ops/proxy: "https" # https_proxy needed
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: main
            envFrom:
              - secretRef:
                  name: *name
            ports:
              - name: http
                containerPort: &port 8080
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: false # needed for chown

    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["chat.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: open-webui.png
          gethomepage.dev/name: open-webui
          gethomepage.dev/group: AI
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /app/backend/data
