---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name audiobookshelf
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/advplyr/audiobookshelf
              tag: 2.31.0
            env:
              AUDIOBOOKSHELF_UID: 2000
              AUDIOBOOKSHELF_GID: 2000
              CONFIG_PATH: /config
              METADATA_PATH: /config/metadata
            envFrom:
              - secretRef:
                  name: *name
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 80
    route:
      app:
        hostnames: ["audiobookshelf.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: audiobookshelf.png
          gethomepage.dev/name: AudioBookShelf
          gethomepage.dev/group: Service
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /config
      shared:
        existingClaim: nfs-shared-document
        globalMounts:
          - path: /data/nas-media/Library
            subPath: AudioBooks
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /.npm
            subPath: cache
          - path: /metadata/logs
            subPath: logs
          - path: /tmp
            subPath: tmp
