---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/frrk8s.metallb.io/frrconfiguration_v1beta1.json
apiVersion: frrk8s.metallb.io/v1beta1
kind: FRRConfiguration
metadata:
  name: frr-k8s
  namespace: kube-system
spec:
  bgp:
    routers:
      - asn: 65510
        neighbors:
          - address: "10.255.255.1" # Switch
            asn: 65510
            port: 179
            holdTime: 30s
            keepaliveTime: 10s
            bfdProfile: default
            ebgpMultiHop: false
            enableGracefulRestart: false # bfd instead
            toAdvertise:
              allowed:
                mode: all
        prefixes:
          - "10.100.0.0/17" # Pod
          - "10.10.0.128/27" # LoadBalancer
    bfdProfiles:
      - name: default
        receiveInterval: 400
        transmitInterval: 400
        detectMultiplier: 5
        echoInterval: 50
        echoMode: false
        passiveMode: false
        minimumTtl: 1
