---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Make Docs"
permissions:
  actions: write
  contents: read
  id-token: write
  pages: write

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - .github/workflows/make-docs.yaml
      - docs/**

jobs:
  Make-Docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        id: app-token
        with:
          app-id: ${{ secrets.PRIVATE_APP_ID }}
          private-key: ${{ secrets.PRIVATE_APP_KEY }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5
        with:
          token: "${{ steps.app-token.outputs.token }}"
          enablement: true
      - uses: docker://ghcr.io/bjw-s/mdbook:0.4.43@sha256:fdc61a86bc78f865d967a87912c37fecd8e26e289a97c040e0ab221ff5b0de18
        with:
          args: mdbook build docs
      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: ./docs/book
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
        with:
          token: "${{ steps.app-token.outputs.token }}"
