---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/cilium.io/ciliumbgpadvertisement_v2.json
apiVersion: cilium.io/v2
kind: CiliumBGPAdvertisement
metadata:
  name: cilium-bird2-nodelocal
  labels:
    bgp: cilium-bird2-nodelocal
spec:
  advertisements:
    # - advertisementType: PodCIDR
    - advertisementType: Service
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchExpressions:
          - {
              key: config.noirprime.com/bgp,
              operator: NotIn,
              values: ["disabled"],
            }
---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/cilium.io/ciliumbgpclusterconfig_v2.json
apiVersion: cilium.io/v2
kind: CiliumBGPClusterConfig
metadata:
  name: cilium-bird2-nodelocal
spec:
  nodeSelector: {}
  bgpInstances:
    - name: cilium-bird2-nodelocal-65110
      localASN: 65110
      peers:
        - name: cilium-bird2-nodelocal
          peerASN: 65100
          peerAddress: 127.0.0.1
          peerConfigRef:
            name: cilium-bird2-nodelocal
---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/cilium.io/ciliumbgppeerconfig_v2.json
apiVersion: cilium.io/v2
kind: CiliumBGPPeerConfig
metadata:
  name: cilium-bird2-nodelocal
spec:
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          bgp: cilium-bird2-nodelocal
