---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: "${APP}-volsync-minio"
spec:
  refreshinterval: 10m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: "${APP}-volsync-minio"
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .minio_s3_endpoint }}/volsync/${APP}"
        RESTIC_PASSWORD: "{{ .volsync_encryption_cipher }}"
        AWS_ACCESS_KEY_ID: "{{ .minio_volsync_access_key }}"
        AWS_SECRET_ACCESS_KEY: "{{ .minio_volsync_secret_key }}"
  dataFrom:
    - extract:
        key: minio
      rewrite:
        - regexp:
            source: "(.*)"
            target: "minio_$1"
    - extract:
        key: volsync
      rewrite:
        - regexp:
            source: "(.*)"
            target: "volsync_$1"
